.mahsulot {
  background-image: url(../../Assets/Images/mahsulotBg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 815px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 280px 0 0 0;
    &__left {
      display: flex;
      justify-content: space-between;
      align-items: start;
      flex-direction: column;
      background-size: cover;
 gap: 5px;
      z-index: 999;
      .dori {
        max-width: 500px;
        height: auto;
      }
      span {
        display: flex;
        align-items: center;
        h5 {
          font-family: "Bitter";
          font-style: normal;
          font-weight: 500;
          font-size: 34px;
          line-height: 41px;
          display: flex;
          align-items: center;
          color: #ffffff;
          margin-right: 28px;
        }
        h3 {
          font-family: "Bitter";
          font-style: normal;
          font-weight: 500;
          font-size: 44.1903px;
          line-height: 53px;
          display: flex;
          align-items: center;
          color: #ffffff;
        }
      }
    }
    &__right {
      display: flex;
      justify-content: space-between;
      align-items: start;
      flex-direction: column;
      background-size: cover;
        padding: 10px 0;
        gap: 5px;
      .dori {
        max-width: 500px;
        height: auto;
      }
      span {
        display: flex;
        align-items: center;
        h5 {
          font-family: "Bitter";
          font-style: normal;
          font-weight: 500;
          font-size: 34px;
          line-height: 41px;
          display: flex;
          align-items: center;
          color: #ffffff;
          margin-right: 28px;
        }
        h3 {
          font-family: "Bitter";
          font-style: normal;
          font-weight: 500;
          font-size: 44.1903px;
          line-height: 53px;
          display: flex;
          align-items: center;
          color: #ffffff;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .mahsulot {
    background-image: url(../../Assets/Images/mahsulotBg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 815px;
    margin-top: 75px;
    padding-bottom: 100px;
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__left {
       display: flex;
       align-items: center;
       justify-content: center;
       height: auto;
        .dori {
          max-width: 400px;
        }
        span {
          display: flex;
          align-items: center;
          h5 {
            font-family: "Bitter";
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 41px;
            display: flex;
            align-items: center;
            color: #ffffff;
            margin-right: 28px;
          }
          h3 {
            font-family: "Bitter";
            font-style: normal;
            font-weight: 500;
            font-size: 44.1903px;
            line-height: 53px;
            display: flex;
            align-items: center;
            color: #ffffff;
          }
        }
      }
      &__right {
      display: flex;
      align-items: center;
   justify-content: center;
        .dori {
            max-width: 400px;
            text-align: center;
        }
        span {
          display: flex;
          align-items: center;
          h5 {
            font-family: "Bitter";
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 41px;
            display: flex;
            align-items: center;
            color: #ffffff;
            margin-right: 28px;
          }
          h3 {
            font-family: "Bitter";
            font-style: normal;
            font-weight: 500;
            font-size: 44.1903px;
            line-height: 53px;
            display: flex;
            align-items: center;
            color: #ffffff;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .mahsulot {
    .mahsulot {
      &__container {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
        &__left {
            display: flex;
            align-items: center;
          width: 100%;

          .dori {
          }
          span {
            h5 {
              font-family: "Bitter";
              font-style: normal;
              font-weight: 500;
              font-size: 28px;
              line-height: 41px;
              display: flex;
              align-items: center;
              color: #ffffff;
              margin-right: 28px;
            }
            h3 {
              font-family: "Bitter";
              font-style: normal;
              font-weight: 500;
              font-size: 44.1903px;
              line-height: 53px;
              display: flex;
              align-items: center;
              color: #ffffff;
            }
          }
        }
        &__right {
            display: flex;
            align-items: center;
          width: 100%;

          .dori {
            width: 100%;
          }
          span {
          
            h5 {
              font-family: "Bitter";
              font-style: normal;
              font-weight: 500;
              font-size: 28px;
              line-height: 41px;
              display: flex;
              align-items: center;
              color: #ffffff;
              margin-right: 28px;
            }
            h3 {
              font-family: "Bitter";
              font-style: normal;
              font-weight: 500;
              font-size: 44.1903px;
              line-height: 53px;
              display: flex;
              align-items: center;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .mahsulot {
    .mahsulot {
      &__container {
        display: flex;
        flex-direction: column;
        padding: 50px 10px;
        &__left {
            display: flex;
            align-items: center;
          width: 100%;

          .dori {
            width: 100%;
          }
          span {
            h5 {
              font-family: "Bitter";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 41px;
              display: flex;
              align-items: center;
              color: #ffffff;
              margin-right: 28px;
            }
            h3 {
              font-family: "Bitter";
              font-style: normal;
              font-weight: 500;
              font-size: 35px;
              line-height: 53px;
              display: flex;
              align-items: center;
              color: #ffffff;
            }
          }
        }
        &__right {
            display: flex;
            align-items: center;
          width: 100%;

          .dori {
            width: 100%;
          }
          span {
          
            h5 {
                font-family: "Bitter";
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 41px;
                display: flex;
                align-items: center;
                color: #ffffff;
                margin-right: 28px;
              }
              h3 {
                font-family: "Bitter";
                font-style: normal;
                font-weight: 500;
                font-size: 35px;
                line-height: 53px;
                display: flex;
                align-items: center;
              }
          }
        }
      }
    }
  }
}
