.MahsulotAbout {
  &__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0 0 0;
    &__left {
      .text1 {
        padding-right: 30px;
        font-family: "Roboto Slab";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        display: flex;
        align-items: center;
        color: #000000;
        background-image: url(../../Assets/Images/uycha.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
  &__container2 {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 100px 0;
    &__right {
      .text2 {
        padding-left: 30px;
        font-family: "Roboto Slab";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        display: flex;
        align-items: center;
        color: #000000;
        background-image: url(../../Assets/Images/uycha.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
  &__container3 {
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-image: url(../../Assets/Images/Noma.png);
    background-size: cover;
    background-position: center;
    padding: 115px 0;
    &__left {
      p {
        padding: 0 40px 0 85px;
        font-family: "Roboto Slab";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #000000;
      }
    }
    &__right {
      img {
        padding: 0 80px 0 0;
        max-width: 551.72px;
        height: auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .MahsulotAbout {
    &__container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 100px 15px;
      &__left {
        .text1 {
          font-family: "Roboto Slab";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 34px;
          display: flex;
          align-items: center;
          color: #000000;
          background-image: url(../../Assets/Images/uycha.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
      }
    }
    .MahsulotAbout__container__right {
      display: flex;
      align-items: flex-start;
    }
    .MahsulotAbout__container__right img {
      width: 100%;
    }
    &__container2 {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 20px 10px;
      &__right {
        .text2 {
          font-family: "Roboto Slab";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 34px;
          display: flex;
          align-items: flex-start;
          color: #000000;
          background-image: url(../../Assets/Images/uycha.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          padding: 0;
        }
      }
    }
    .MahsulotAbout__container__left img {
      width: 100%;
    }
    &__container3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      background-image: url(../../Assets/Images/Noma.png);
      background-size: cover;
      background-position: center;
      width: 100%;
      &__left {
        display: flex;
        margin-left: 0;
        align-items: center;
        p {
          padding: 50px 20px;
          font-family: "Roboto Slab";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 27px;
          color: #000000;
          width: 100%;
        }
      }
      &__right {
        img {
          width: 100%;
          padding: 0 10px 50px 10px;
        }
      }
    }
  }
}
