.navbar {
  width: 100%;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.navlogo {
  width: 80%;
}
.navlogo img {
  width: 217px;
}
.df {
  display: flex;
  align-items: center;
}
.navul {
  padding: 20px 0;
  width: 100%;
}
.navul ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navul ul li {
  list-style: none;
}

.navul a {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
#lang {
  background: transparent;
  outline: none;
  border: none;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.home {
  background-image: url("../../assets/imgs/main.png");
  width: 100%;
  height: 942px;
  position: absolute;
  top: 0;
}


/* Responsive */
@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
}
