.footer {
  background-image: url(../../Assets/Images/footerBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 612px;
  padding-top: 256px;
  padding-bottom: 117px;
  &__container {
    display: flex;
    justify-content: space-between;
    &__left {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      img {
        width: 217px;
        height: 63px;
      }
      p {
        margin-top: 38px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        width: 350px;
        color: #ffffff;
      }
      ul {
        width: 220px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        li {
          i {
            color: #ffffff;
            font-size: 26px;
          }
        }
      }
    }
    &__list {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding-top: 50px;
      padding-bottom: 50px;
      li {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        a {
          font-family: "Roboto Slab";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          display: flex;
          align-items: center;
          letter-spacing: 1.28px;
          text-transform: uppercase;
          color: #ffffff;
        }
      }
    }
    &__right {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      &__form {
        width: 350px;
        h5 {
          font-family: "Roboto Slab";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          display: flex;
          align-items: center;
          color: #ffffff;
        }
      }
      .inp1 {
        margin-top: 22px;
        width: 380.21px;
        outline: none;
        color: #ffffff;
        background-color: #89363d;
        border-radius: 6px;
        border: none;
        label {
          color: #ffffff;
        }
      }
      .inp2 {
        margin-top: 22px;
        width: 380.21px;
        outline: none;
        color: #ffffff;
        background-color: #89363d;
        border-radius: 6px;
        label {
          color: #ffffff;
        }
      }
      .btn1 {
        margin-top: 30px;
        background: #167526;
        box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.09);
        border-radius: 5px;
        height: 52px;
        width: 380px;
        border: none;
        color: #ffffff;
        &:active {
          background: #136020;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    background-image: url(../../Assets/Images/footerBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 120px 10px;
    &__container {
      display: flex;
      flex-direction: column;
      padding: 0 10px 0px 0 ;
      f &__left {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 5px;
        img {
          width: 217px;
          height: 63px;
        }
        p {
            padding: none;
          font-family: "Lato";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          display: flex;
          align-items: center;
          width: 350px;
          color: #ffffff;
        }
        ul {
          width: 220px;
          display: flex;
          justify-content: space-between;
          margin-top: 10px !important;
          li {
            i {
              color: #ffffff;
              font-size: 26px;
            }
          }
        }
      }
      &__list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
     padding: 20px 0;
        li {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          a {
            font-family: "Roboto Slab";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            display: flex;
            align-items: center;
            letter-spacing: 1.28px;
            text-transform: uppercase;
            color: #ffffff;
          }
        }
      }
      &__right {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 0 20px 0;
        &__form {
          width: 100%;
          h5 {
            font-family: "Roboto Slab";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #ffffff;
          }
        }
        .inp1 {
          
         width: 100%;
          outline: none;
          color: #ffffff;
          background-color: #89363d;
          border-radius: 6px;
          label {
            color: #ffffff;
          }
        }
        .inp2 {
          margin-top: 22px;
          width: 100%;
          outline: none;
          color: #ffffff;
          background-color: #89363d;
          border-radius: 6px;
          label {
            color: #ffffff;
          }
        }
        .btn1 {
          margin-top: 30px;
          background: #b04c08;
          box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.09);
          border-radius: 5px;
          height: 52px;
          width: 100%;
          border: none;
          color: #ffffff;
          &:active {
            background: #b86026;
          }
        }
      }
    }
  }
}
