.questions{
    padding-top: 100px;
    background-image: url(../../Assets/Images/questBg.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    &__container{
        &__title{
            h2{
                font-family: 'Roboto Slab';
                font-style: normal;
                font-weight: 500;
                font-size: 54px;
                line-height: 65px;
                /* or 120% */

                display: flex;
                align-items: center;

                color: #4D3300;

            }
        }
        &__items{
            display: flex;
            &__left{
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
                li{
                    width: 300px;
                    padding-top: 50px;
                    margin-right: 97px;
                    font-family: 'Roboto Slab';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 30px;
                    display: flex;
                    align-items: center;
                    color: #4D3300;
                }
            }
            &__right{
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
                padding-top: 50px;
                padding-bottom: 50px;
                li{
                    width: 300px;
                    padding-top: 10px;
                    font-family: 'Roboto Slab';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 30px;
                    display: flex;
                    align-items: center;
                    color: #4D3300;
                }
            }
        }
    }
}